fastapi
uvicorn
pydantic
python-dotenv
pandas==2.2.3
chromadb==1.0.8
snowflake-connector-python==3.15.0
langchain-google-genai
python-multipart
requests
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu

